@import "tailwindcss";

@theme {
    --color-primary: #40513B;
    --color-tahiti: #3ab7bf;
    --color-bermuda: #78dcca;
}
input{
    width: 100% !important;
    height: 45px !important;
    border: 1px solid #b9b9b9 !important;
    display: block !important; 
    
}

input:focus{
    outline : none !important;
    border: 1px solid #373535 !important;
    box-shadow: none !important;
}
button{
        height: 45px !important;
}